<!-- <form hx-post="/comment/new" hx-target="this" hx-swap="outerHTML" hx-encoding="multipart/form-data">
    <input type="hidden" name="id" value="<%= it.id %>" />
    <div class="container">
      <h2 class="text-overflow-clamp">
        <%= it.prompt %>
      </h2>       
      <a href="<%= it.url %>" target="_blank" rel="noopener noreferrer">View Original Tuner</a>
    </div>
    
    <div class="comments-section">
      <% if (it.comments && it.comments.length > 0) { %>
        <% it.comments.forEach(function(comment) { %>
          <div class="comment">
            <img src="<%= comment.pfp %>" alt="<%= comment.username %>'s profile picture" class="profile-pic">
            <div class="comment-content">
              <strong><%= comment.username %></strong>
              <p><%= comment.text %></p>
            </div>
          </div>
          <hr>
        <% }); %>
      <% } else { %>
        <p>🙃 Be the first commenter 🚀</p>
      <% } %>
    </div>
  
    <label for="new-comment"></label>
    <textarea id="new-comment" name="newComment" placeholder="Add your comment here..." required></textarea>
  
    <footer class="form-footer">
      <button class="btn secondary" hx-get="/tuners">Cancel</button>
      <div id="comment-submit-button-container">
        <button type="submit" name="form-submit" class="btn primary">Save Comment</button>
      </div>
    </footer>
  </form> -->
  