<div class="comment-section">
    <% if (it.comments && it.comments.length > 0) { %>
      <% it.comments.forEach(function(comment) { %>
        <div class="comment">
          <img src="<%= comment.pfp %>" alt="<%= comment.username %>'s profile picture" class="profile-pic">
          <div class="comment-content">
            <strong><%= comment.username %></strong>
            <p><%= comment.text %></p>
          </div>
        </div>
        <hr>
      <% }); %>
    <% } else { %>
      <p>🙃 Be the first commenter 🚀</p>
    <% } %>
  </div>
