<form hx-post="/comments" hx-target="this" hx-swap="outerHTML" hx-encoding="multipart/form-data">
    <input type="hidden" name="id" value="<%= it.id %>" />
    <div class="container">
      <h2 class="text-overflow-clamp" onclick="togglePrompt(this)">    
        <%= it.prompt %>
      </h2>       
      <a href="<%= it.url %>" target="_blank" rel="noopener noreferrer">View Original Tuner</a>
    </div>
    

    <div hx-get="/comments/section/<%= it.id %>" hx-trigger="load" hx-target="#comments-view" hx-swap="innerHTML">              
    <div id="comments-view"></div>
    </div>

    <label for="new-comment"></label>
    <textarea id="new-comment" name="newComment" placeholder="Add your comment here..." required></textarea>
  
    <footer class="form-footer">
      <button class="btn secondary" hx-get="/">Cancel</button>
      <div id="comment-submit-button-container">
        <button id="comment-submit" type="submit" name="comment-submit" class="btn primary">Save Comment</button>
      </div>
    </footer>
  </form>


  <script>
    function togglePrompt(element) {
    element.classList.toggle('expanded-prompt');
    element.classList.toggle('text-overflow-clamp');
  }
  </script>
  