<form
  hx-post="/tuners"
  hx-target="this"
  hx-swap="outerHTML">

  <input type="hidden" name="id" value="<%= it.id %>" />
  <input type="text" name="prompt" value="<%= it.prompt %>" placeholder="Prompt"/>
  <input type="text" name="url" value="<%= it.url %>" placeholder="URL"/>
  <input type="number" name="size" value="<%= it.size %>" placeholder="Size"/>
  <textarea name="comments"><%= it.comments %></textarea>

  <footer>
    <button class="btn" hx-get="/tuners">Cancel</button>
    <button class="btn primary">Save</button>
  </footer>
</form>
