:root {
  --radius-lg: 12px;
  --radius: 8px;
  --margin: 30px;
  --margin-lg: 45px;
  --margin-sm: 15px;
  --margin-xs: 10px;
  --font-family: "Montserrat";
  --font-size: 17px;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #a2d8f0 50%, #fafafa 100%);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.app {
  display: flex;
  flex-direction: column;
  /* max-width: 1200px;  */
  /* margin: auto;  */
  padding: 0 15px; 
  overflow: hidden;

}

#auth-links,
#add-button {
  /* display: flex; */
  margin-right: 10px;
}

.header-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.top-nav {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
  align-items: center;

}

#user-button {
  display: flex;
  align-items: center;
  margin-left: var(--margin-sm);
  /* Left margin for spacing */
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* min-width: 500px; */
}


h1 {
  align-self: flex-start;
  margin-top: 0px;
  margin-right: 20px;
  /* line-height: 80%; */
  font-size: 42px;
}


.content {
  display: flex;
  overflow: auto;
}

aside {
  position: sticky;
  top: 0;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

aside img {
  border-radius: var(--radius-lg);
  margin-top: 10%;
  min-width: 150px;
  max-width: 250px;
}

main {
  /* min-width: 500px;
  min-height: 200px; */
  margin-right: 10px;
  border-radius: var(--radius);
  flex: 2;
  display: flex;
  align-items: flex-start;
  margin-left: var(--margin-lg);
}

aside .btn {
  margin: var(--margin) 0 0;
}

.btn {
  height: 42px;
  line-height: 42px;
  border: 0;
  background: #D8D8D8;
  color: #FFF;
  border-radius: var(--radius);
  padding: 0 var(--margin-sm);
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 600;
  opacity: .9;
  cursor: pointer;
}

.btn.secondary {
  color: #000;
}

.btn.primary {
  background: #111;
}

.btn:hover {
  opacity: 1;
}

input,
textarea {
  border: 2px solid #CCC;
  background: #fafafa;
  width: 100%;
  border-radius: var(--radius);
  font-size: var(--font-size);
  padding: var(--margin-xs);
  outline: none !important;
  margin-bottom: var(--margin-xs);
}


.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000%;
}

input[type="search"] {
  flex-grow: 1;
  background: none;
  margin: 10px;
}

.pills {
  display: flex;
  flex-direction: row;
  font-size: small;
  gap: 3px; 
  margin-left: 10px;
  align-self: flex-start;
}

.pills button {
  border: 2px solid #0e1720;
  border-radius: 25px;
  padding: 5px 10px; 
  font-size: 0.9em; 
  background: linear-gradient(to right, #E0EAFC, #CFDEF3); 
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pills button:hover {
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* Slightly different gradient on hover */
  transform: translateY(-2px); /* Lift button on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.pills button.selected {
  background: linear-gradient(to right, #f7971e, #ffd200); /* Distinct gradient for selected state */
  color: #0e1720; /* Dark text for selected state */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Consistent shadow */
}

/* .pills {
  display: flex;
  font-size: x-small;
  flex-direction: row;
  gap: 3px;
  margin-left: 10px;
  align-self: flex-start;
}

.pills button {
  border: 2px solid #2a70a5;
  border-radius: 25px;
  padding: 2px 10px;
  font-size: 1.2em;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: var(--margin);
}

form {
  margin-top: var(--margin-sm);
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-footer .btn {
  margin: 0 var(--margin-xs);
  display: flex;
  gap: 10px;
}

.tuners li {
  position: relative;
  margin-bottom: var(--margin);
}

.tuners .tuner-entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  border-radius: var(--radius);
  
  margin: var(--margin) 0;
  
  padding: 10px 5px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.tuners .tuner-info {
  display: flex;
  flex-direction: row;
  /* align-items:first baseline; */

}


.tuners .new-container {
  display: flex;
  flex-direction: column;
}

.tuners .tuner-entry:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* Slightly larger shadow on hover */
}

.tuners .tuner-entry h2 {
  font-size: 20px;
  /* Slightly larger font size for titles */
  margin-bottom: 10px;
  /* Spacing after the title */
}

.tuners .tuner-entry p {
  font-size: 16px;
  /* Readable font size for text */
  color: #333;
  /* Darker color for better readability */
}

/* .tuners .tuner-entry h2 {
  margin: 0;
  font-size: 18px;
} */

.tuners .sizebox {
  font-size: 14px;
  width: 75px;
  margin-top: 30px;
  overflow: hidden;
  margin-right: 10px;
  word-wrap: break-word;
  text-align: right;
}

.tuners .tuner-entry nav {
  margin-top: 30px;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.tuners .tuner-entry button {
  border: 0;
  background: transparent;
  cursor: pointer;
  opacity: .8;
}

.tuners .tuner-entry button:hover {
  opacity: 1;
}

.tuners .tuner-entry button svg {
  width: 22px;
  height: 22px;
  line-height: 1em;
  fill: #CFDEF3;
}

.tuners .like.selected svg {
  fill: #ffc107;
}

.tuners p {
  margin: 0px 0 0;
}

.tuners .like-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

.tuners #like-count {
  gap: 1px;
}

.tuners #like-count em {
  font-size: 12px;
  margin-right: -10px;
  text-align: center;
}

#like-count em,
#like-count svg {
  vertical-align: -webkit-baseline-middle;
  fill: #D8D8D8;
  padding: 0;
}


.tuners .entry-nav {
  display: flex;
  flex-direction: row;  
}
.tuners .entry-nav nav button svg{
  fill: #0e1720;
}
.size-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--margin-xs);
  margin-bottom: var(--margin-xs);
}

.size-options label {
  background: #FFF;
  padding: 10px var(--margin-sm);
  border: 2px solid #CCC;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.size-options input[type="radio"] {
  display: none;
}

.size-options input[type="radio"]:checked+label {
  background: #87d5da;
  border-color: #AAA;
}

input[type="search"]:focus {
  background-color: #fafafa;
}

.container {
  width: 50vw;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #0e1720;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: white;
}

.container>h3 {
  color: #2a70a5;
}

.text-overflow-clamp {
  padding-left: 2.5%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;/
}

.expanded-prompt {
  display: block;
  padding-left: 2.5%;
  -webkit-line-clamp: unset;
  overflow: visible;
  word-wrap: break-word;
  white-space: normal;
  width: 95%;
}

.pill.selected {
  background-color: #ffc107;
}


@media (max-width: 1200px) {
  .app {
    padding: 0 10px;
    width: calc(100% -20px);
  }

  .header,
  .content {
    flex-direction: column;
    align-items: center;
  }

  .search-section {
    align-items: flex-start;
    width: 95%;
  }

  input[type="search"] {
    flex-grow: 1;
    background: none;
    margin: 10px;
    width: 100%;
  }

  h1,
  input[type="search"] {
    width: 80%;
    margin-bottom: 10px;
    /* adjust this value as needed */
  }
/* Ensuring elements inside main container are not wider than the container */
.tuners .tuner-entry, .recent-comment {
  width: calc(100% - 20px); /* Adjust the 20px as needed */
  margin-left: auto;
  margin-right: auto;
}
  main {
    min-width: 300px;
    min-height: 200px;
  }

  aside {
    position: static;
    width: 100%;
    /* adjust this value as needed */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: right;
    padding: 0 50px;
  }

  aside img {
    display: none;
  }

  .content {
    margin-top: 10px;
  }
}


.social-footer {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  z-index: 10;
}

.social-media-links {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.social-media-links img {
  width: 24px;
  height: 24px;
}

.error-message {
  color: red;
  font-size: 0.9em;
}

.error input {
  border: 2px solid #CC0000;
  /* Change to border for a more obvious outline */
  box-shadow: 0 0 5px #CC0000;
  /* Optional: Keep it for a glow effect */
}

/* Increase the size and color intensity of the box shadow for valid state */
.valid input {
  border: 1px solid #36cc00;
  /* Change to border for a more obvious outline */
  box-shadow: 0 0 5px #36cc00;
  /* Optional: Keep it for a glow effect */
}

/* Adjust the indicator styles if needed */
.htmx-indicator {
  display: block;
  /* Keep it block to take up full width below the input */
  height: 1em;
  /* Maintain fixed height for consistency */
  margin-top: 0.5em;
  /* Adjust space between the input and the indicator if needed */
}

button:disabled,
button:disabled:hover {
  cursor: not-allowed;
  /* Show a 'not-allowed' cursor on hover */
  opacity: 0.5;
  /* Tone down the button to indicate it's inactive */
}

button:enabled {
  cursor: pointer;
  /* Standard cursor for clickable items */
  opacity: 1;
  /* Full opacity for active buttons */
}

a {
  color: #8eb0e4;
}

.comment-section {
  width: 100%;
  margin-top: 20px;
}

.comment {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-pic {
  border-radius: 50%;
  /* Make the image round */
  width: 40px;
  /* Adjust the size as needed */
  height: 40px;
  /* Adjust the size as needed */
  margin-right: 10px;
  border: 2px solid #ddd;
  /* Optional: adds a border around the image */
}

.comment-content {
  flex-grow: 1;
  margin-right: 10px;
}

.comment-content strong {
  font-weight: bold;
  display: block;
}

.comment-content p {
  font-size: 0.9em;
  margin-top: 5px;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin-top: 10px;
}

.no-comments {
  text-align: center;
  font-style: italic;
  color: #666;
}

.delete-comment {
  background: none;
  border: none;
  cursor: pointer;
}

/* Style for the SVG icon */
.delete-comment svg {
  width: 20px;
  height: 20px;
}

.delete-comment svg:hover {
  fill: #ff0000;
}

.recent-comment {
  font-size: 0.85em;
  color: #666;
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.recent-comment strong {
  font-weight: bold;
  font-size: 0.7em;
  color: #333;
}