:root {
  --radius-lg: 12px;
  --radius: 8px;
  --margin: 30px;
  --margin-lg: 45px;
  --margin-sm: 15px;
  --margin-xs: 10px;
  --font-family: "Montserrat";
  --font-size: 17px;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #a2d8f0 50%, #fafafa 100%);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.app {  
  display: flex;
  flex-direction: column;
  padding: 10px;
  
}

.header-row{
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.top-nav {
  display: flex;
  /* flex-direction: column; */  
  justify-content: flex-end;
  align-items: flex-end;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* min-width: 500px; */
}

#add-button {  
  margin-top: 15px;
}

h1 {
  align-self: flex-start;
  margin-top: 0px;
  margin-right: 20px;
  /* line-height: 80%; */
  font-size: 42px;
}


.content {
  display: flex;
  overflow: auto;
}

aside {
  position: sticky;
  top: 0;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

aside img {
  border-radius: var(--radius-lg);
  margin-top: 10%;
  min-width: 150px;
  max-width: 250px;
}

main {
  /* min-width: 500px;
  min-height: 200px; */
  margin-right: 10px;  
  border-radius: var(--radius);
  flex: 2;
  display: flex;
  align-items: flex-start;
  margin-left: var(--margin-lg);
}

aside .btn {
  margin: var(--margin) 0 0;
}

.btn {
  height: 42px;
  line-height: 42px;
  border: 0;
  background: #D8D8D8;  
  color: #FFF;
  border-radius: var(--radius);
  padding: 0 var(--margin-sm);
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 600;
  opacity: .9;
  cursor: pointer;
}
.btn.secondary{
  color: #000;
}
.btn.primary {
  background: #111;
}

.btn:hover {
  opacity: 1;
}

input,
textarea {
  border: 2px solid #CCC;
  background: #fafafa;
  width: 100%;
  border-radius: var(--radius);
  font-size: var(--font-size);
  padding: var(--margin-xs);
  outline: none !important;
  margin-bottom: var(--margin-xs);
}


.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000%;  
}

input[type="search"] {
  flex-grow: 1;
  background: none;
  margin: 10px;
}


.pills {
  display: flex;
  font-size: x-small;
  flex-direction: row;
  gap: 3px;
  margin-left: 10px;
  align-self: flex-start;
}

.pills button {
  border: 2px solid #2a70a5;
  border-radius: 25px;
  
  padding: 2px 10px; /* reduced padding */
  font-size: 1.2em; /* reduced font size */
  background: none;  
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pills button.selected {
  background-color: #ba7d7d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: var(--margin);
}

form {
  margin-top: var(--margin-sm);
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-footer .btn {
  margin: 0 var(--margin-xs);
  display: flex;
  gap: 10px;
}

.tuners li{
  position: relative;
  margin-bottom: var(--margin);
}

.tuners .tuner-entry {
  margin: var(--margin) 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tuners .tuner-info{
  display: flex;
  flex-direction: row;
  /* align-items:first baseline; */
  
}

/* .tuners .tuner-info, .tuners .entry-nav {
  width: 100%; 
  display: flex;
  justify-content: space-between; 
} */

.tuners .new-container {
  display: flex;
  flex-direction: column;
}

.tuners .tuner-entry h2 {
  margin: 0;
  font-size: 18px;
}

.tuners .sizebox{
  font-size: 16px;
  margin-top: 30px;
  margin-right: 10px;
}

.tuners .tuner-entry nav{
  margin-top: 30px;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.tuners .tuner-entry button {
  border: 0;
  background: transparent;
  cursor: pointer;
  opacity: .8;
}

.tuners .tuner-entry button:hover {
  opacity: 1;
}

.tuners .tuner-entry button svg {
  width: 22px;
  height: 22px;
  line-height: 1em;
  fill: #777;
}

.tuners p {
  margin: 5px 0 0;
}

.tuners .likes{
  display: flex;  
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}
.tuners #like-count{
  gap: 1px;
}
.tuners #like-count em{  
  font-size: 12px;
  margin-right: -10px;  
  text-align: center;
}
#like-count em, #like-count svg {
  vertical-align: -webkit-baseline-middle;
  fill:#D8D8D8;  
  padding: 0;
}

.tuners .entry-nav{
  display: flex;
  flex-direction: row;
  }

.size-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--margin-xs);
  margin-bottom: var(--margin-xs);
}

.size-options label {
  background: #FFF;
  padding: 10px var(--margin-sm);
  border: 2px solid #CCC;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;  
}

.size-options input[type="radio"] {
  display: none;
}

.size-options input[type="radio"]:checked+label {
  background: #87d5da;
  border-color: #AAA;
}

input[type="search"]:focus {
  background-color: #fafafa;
}

.container {
  width: 50vw;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  background-color: black;
  color: white;  
}

.container>h3 {
  color: #2a70a5;
}

.text-overflow-clamp {
  padding-left: 2.5%;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width:95%; /
}

.expanded-prompt {
  display: block;
  padding-left: 2.5%;
  -webkit-line-clamp: unset;
  overflow: visible;
  word-wrap: break-word;
  white-space: normal;
  width: 95%;
}

@media (max-width: 800px) {
  .header, .content {
    flex-direction: column;
    align-items: center;    
  }
.search-section{
  align-items: flex-start;
  width: 95%;
}

input[type="search"] {
  flex-grow: 1;
  background: none;
  margin: 10px;
  width: 100%;
}
  h1, input[type="search"] {
    width: 80%;  
    margin-bottom: 10px; /* adjust this value as needed */
  }
main{
  min-width: 300px;
  min-height: 200px;
}
  aside {
    position: static;
    width: 100%; /* adjust this value as needed */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: right;
    padding: 0 50px;
  }
  aside img {
    display: none;    
  }
  .content{
    margin-top: 10px;
  }
  
}

.social-footer {
  display: flex;
  position: sticky;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0; /* adjust this value as needed */
}

.social-media-links {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.social-media-links img {
  width: 24px; /* adjust this value as needed */
  height: 24px; /* adjust this value as needed */
}